@model IEnumerable<Site.Models.ViewModels.IndexTransactionViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mb-4">Transactions</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Add new</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.TransactionName)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.TransactionAmount)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.TransactionDate, "DateOnly")
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TransactionId" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.TransactionId" class="btn btn-sm btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.TransactionId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
