@model IEnumerable<Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Accounts</h1>

<p class="btn-container">
    <a class="btn btn-primary" asp-action="Create">Add New</a>
</p>

<div class="flex-grid border-top">
    @foreach (var account in Model)
    {
        <div class="grid-item pale-lavender">
            <a class="text-dark btn button-text" asp-action="Details" asp-route-id="@account.AccountId">@account.AccountName</a>
            <p>@account.AccountBalance €</p>
        </div>
    }
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountBalance)
            </td>
            <td>
                <a class="btn" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a class="btn" asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
                <a class="btn" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
