@model Site.Models.ViewModels.MonthTransactionViewModel

<h1>@Model.Month.ToString("MMMM yyyy")</h1>

<table class="table table-bordered">
    <tr>
        <th>Account Name</th>
        <th>Beginning Balance</th>
        <th>Total Spent</th>
        <th>Ending Balance</th>
    </tr>
    @foreach (var item in Model.SummaryTable)
    {
        <tr>
            <td>@item.AccountName</td>
            <td>@item.BeginningBalance</td>
            <td>@item.TotalSpent</td>
            <td>@item.EndingBalance</td>
        </tr>
    }
</table>

@foreach (var account in Model.Transactions.GroupBy(t => t.AccountId))
{
    <h2>@Model.AccountNames[account.Key]</h2>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Running Balance</th>
        </tr>
        @{
            decimal runningBalance = Model.AccountBalances[account.Key];
        }
        @foreach (var transaction in account.OrderBy(t => t.Date))
        {
            <tr>
                <td>@transaction.Date.ToShortDateString()</td>
                <td>@transaction.TransactionType</td>
                <td>@transaction.TransactionAmount</td>
                @{
                    runningBalance += transaction.TransactionAmount;
                }
                <td>@runningBalance</td>
            </tr>
        }
    </table>
}
