@model Site.Models.ViewModels.MonthTransactionViewModel

<div class="container">
    <h1 class="mb-4 text-uppercase">@Model.Month.ToString("MMMM yyyy")</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Beginning Balance</th>
                <th>Total Spent</th>
                <th>Ending Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SummaryTable)
            {
                <tr>
                    <td>@item.AccountName</td>
                    <td>@item.BeginningBalance @ViewData["CurrencySymbol"]</td>
                    <td>@item.TotalSpent @ViewData["CurrencySymbol"]</td>
                    <td>@item.EndingBalance @ViewData["CurrencySymbol"]</td>
                </tr>
            }
        </tbody>
    </table>

    @foreach (var account in Model.Transactions.GroupBy(t => t.AccountId))
    {
        <h2 class="mt-5">@Model.AccountNames[account.Key]</h2>
        <table class="table table-striped sort-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Change Since Start</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal runningBalance = 0;
                }
                @foreach (var transaction in account.OrderBy(t => t.Date))
                {
                    <tr>
                        <td>@transaction.Date.ToShortDateString()</td>
                        <td>@transaction.TransactionType</td>
                        <td>@transaction.TransactionAmount @ViewData["CurrencySymbol"]</td>
                        @{
                            runningBalance += transaction.TransactionAmount;
                        }
                        <td>@runningBalance @ViewData["CurrencySymbol"]</td>
                        <td>
                            <a asp-controller="Transactions" asp-action="Edit" asp-route-id="@transaction.TransactionId" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-controller="Transactions" asp-action="Details" asp-route-id="@transaction.TransactionId" class="btn btn-sm btn-info">Details</a>
                            <a asp-controller="Transactions" asp-action="Delete" asp-route-id="@transaction.TransactionId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
